# Ignore everything
*

# But not these files...
!*.do
!LICENSE.txt
!readme.md

# Additionally, don't ignore directories, as ignoring them would implicitly ignore their contents
!*/

# Except for the "Results and Figures" directory
/Results and Figures/
/Raw Data/
